<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/icon" href="favicon.ico">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.url }}/css/syntax.css">
    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
    </head>
    <body>
            <header>
                    <div id="nav_container">
                    <nav>
                    {% unless page.layout == 'front' %}
                    <h1 style="display: inline"><a href="{{ site.baseurl }}/DDD/readme.html">领域驱动开发实践</a></h1>
                    <a href="/index.html">Home</a>
                    <ul>

                        {% if page.prev != nil %}
                          <li>
                            <a href="{{ page.prev }}">Prev</a>
                          </li>
                        {% endif %}
                      
                      
                        {% if page.up != nil %}
                          <li>
                            <a href="{{ page.up }}">UP</a>
                          </li>
                        {% endif %}
                        
                        {% if page.next != nil %}
                          <li>
                            <a href="{{ page.next }}">Next</a>
                          </li>
                        {% endif %}

                      </ul>
                    {% endunless %}
                    </nav>
                    </div>
                    </header>
                     
    <section id="main">
        {{ content }}
    </section>
</body>

</html>